#badge {
  @apply bg-amber-200 text-amber-700;
  width: max-content;
  padding-inline: 0.75rem;
  padding-block: 0.25rem;
  border-radius: 0.25rem;
  font-weight: 500;
  letter-spacing: 0.75px;
}

section {
  margin-block: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  @apply text-4xl mb-3 mt-1 font-bold text-slate-100;
  letter-spacing: 1.5px;
}

p {
  @apply max-w-lg text-center text-lg mt-3 text-slate-200;
  text-wrap: balance;
}

h2 {
  @apply text-2xl mb-2 mt-0.5 font-medium text-slate-100;
  letter-spacing: 1px;
}
